<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%#= f.label :awesome, 'test' do %>
      <%#= f.check_box :awesome, label: false %>
    <%# end %>
    <%= f.check_box :awesome, value: 'nope' %>
  </div>

  <div class="field">
    <%= f.radio_button :floats, 'on water' %>
    <%= f.radio_button :floats, 'on oil', class: 'special', label_options: { class: 'required' } %>

    <%= f.label :floats, nil, value: 'on beer' do %>
      <%= f.radio_button :floats, 'on beer', label: false %>
      Label
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
