<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :awesome do %>
      <%= f.check_box :awesome %>
    <% end %>
  </div>

  <div class="field">
    <%#= f.label :floats, value: false do %>
    <%= f.label :floats do %>
      <%= f.radio_button :floats, false %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
